In [1]:
import pandas as pd
import numpy as np

In [3]:
# Carga el archivo CSV omitiendo las dos primeras filas problemáticas.
data = pd.read_csv('ibex.csv')

data.head()

,Date,Adj Close,Close,High,Low,Open,Volume
0,2012-01-03 00:00:00+00:00,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
1,2012-01-04 00:00:00+00:00,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2,2012-01-05 00:00:00+00:00,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
3,2012-01-06 00:00:00+00:00,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
4,2012-01-09 00:00:00+00:00,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

In [4]:
data.dtypes

Date          object
Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume         int64
dtype: object

In [5]:
#Convertimos columna 'Date' en un índice de fecha
data['Date'] = pd.to_datetime(data['Date'])
data['Date'] = data['Date'].dt.date  # Extrae la fecha sin horas
data.set_index('Date', inplace=True)

data.head()

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2012-01-03,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
2012-01-04,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2012-01-05,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
2012-01-06,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
2012-01-09,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

In [ ]:
data.isnull().sum()

Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [7]:
#Pasar a csv
data.to_csv('ibex_clean.csv')